.content {
  padding: 3rem 0;
  display: flex;
  justify-content: center;

  width: 100%;
}

.container {
  display: flex;
  align-content: center;
  background-color: rgb(17, 17, 17);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.column {
  flex-direction: column;
  border: 0.1rem solid rgb(51, 51, 51);
}

.innercontainer {
  width: 100%;
  height: auto;
}

.bossselectcontainer {
  height: 100px;
}

.innercontainertitle {
  display: flex;
  justify-content: center;
  background-color: rgb(34, 34, 34);
  font-size: 1.1rem;
  font-weight: bold;
  width: 300px;
  height: auto;
}
