.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  color: white;
  user-select: none;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  flex: 1 1 800px;
  max-width: 800px;
  margin-top: 1rem;
  height: 8rem;
}

.logo img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.icons {
  display: flex;
  align-content: center;
}

.icon {
  text-align: center;
  margin: 0rem 0.2rem;
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease-in-out;
}

.icon a {
  font-size: 1.5rem;
}

.icon:hover {
  transform: scale(1.1);
}
