.joblist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 0;
  user-select: none;
}

.jobroles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  display: flex;
}

.jobicon img {
  width: 55px;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.jobicon:focus {
  outline: none;
}

.jobicon:hover img {
  transform: scale(0.8);
}

.dropdown #SimpleMenuList {
  width: 300px;
}

.dropdowntext:list {
  font-size: 0.1rem;
}
