html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.updateDetails {
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding: 0 5vw;
  user-select: none;
}
